:host {
  height: 100%;
  width: 100%;

  background-color: rgba(56,108,179, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  --cube3d-face-border: 1px solid black;
  --cube3d-front-face-background: #111a26b5;
  --cube3d-back-face-background: #111a26b5;
  --cube3d-top-face-background: #111a26b5;
  --cube3d-bottom-face-background: #111a26b5;
  --cube3d-left-face-background: #111a26b5;
  --cube3d-right-face-background: #111a26b5;

  cube3d-component {
    --cube3d-height: 300px;
    --cube3d-width: 300px;
    --cube3d-deep: 300px;
  }

  div[cube3dFrontFace] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons-container {
    margin-top: 30px;

    button {
      margin-right: 20px;
    }
  }
}
